<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <appSettings>
    <add key="alias" value=""/>
    <add key="correo" value="correo@gmail.com"/>
    <add key="contraseña" value="contraseña"/>
    <add key="smtp" value="smtp.gmail.com"/>
    <add key="puerto" value="587"/>
    <add key="susuario" value="root"/>
    <add key="scontraseña" value="123456"/>
    <add key="serial" value="1d6d7feb48603ac7dd8c090d2c54bc2e"/>
  </appSettings>
</configuration>
